[2021-06-04 08:18] aidenybai opened #1 "`el` is undefined when attempting to overwrite"
When trying to add children to something, el seems to be undefined. Unsure whether this is child or rootnode

![image](https://user-images.githubusercontent.com/38025074/120770126-ae37c980-c4d2-11eb-8540-c3bc81a10f1c.png)

[code]

[2021-06-04 18:45] aidenybai commented on #1
Fixed

[2021-06-04 18:45] #1 closed

[2021-06-07 10:15] jeetiss opened #5 "empty export"
I create codesandbox with `million` and it fires with errors `million.m is not a function`, looks like problem in browser bundle

link:
https://codesandbox.io/s/nervous-wright-k98xz?file=/src/index.js

[2021-06-07 11:54] tejasag commented on #5
Looks like some functions are not exported properly. We'll look into it.
Meanwhile, you can use million with the unpkg source.
[code]
Then you can use the `Million` (mind the capital M) variable in your javascript

[2021-06-07 16:30] aidenybai commented on #5
Should be fixed by https://github.com/millionjs/million/commit/bfa67cd739b3bd1fe6a1c46baa179e8164f3169f

[2021-06-07 18:56] jeetiss commented on #5
@aidenybai export is still empty

[2021-06-07 19:03] aidenybai commented on #5
This is such a weird issue - I cannot reproduce in a prod/dev vite setup. Maybe it is an issue with parcel not recognizing that the esm build should be used?

[2021-06-07 19:06] aidenybai commented on #5
Forcing the import to be from `million/dist/million.esm` seems to work. Unsure if this is a codesandbox/parcel issue but this is a fix

[2021-06-07 19:28] jeetiss commented on #5
yep, thanks!

`parsel` forces [browser field](https://parceljs.org/module_resolution.html#package.json-%60browser%60-field) while resolves module

Why you don't use esm in browsers? like preact does

[2021-06-07 19:31] aidenybai commented on #5
The idea is generally to allow the user to just access it under `window.Million` - but esm sounds tempting

[2021-06-07 21:42] aidenybai commented on #5
UMD export by default in next release (esm, cjs, iife, amd supported)

[2021-06-07 21:42] #5 closed

[2021-06-09 08:39] aidenybai opened #16 "switch back to all props by default"

[2021-06-09 08:40] aidenybai opened #17 "switch back to props by defsult"
title

[2021-06-09 16:11] #17 closed

[2021-06-09 16:11] #16 closed

[2021-06-12 19:03] willdoescode opened #21 "Get test coverage up to 95-100%"

[2021-06-12 19:12] willdoescode commented on #21
[.](https://github.com/millionjs/million/commit/7d5da11283cd31195cd275cf650daf0962ac6fa30)

[2021-06-12 19:13] #21 closed

[2021-06-19 09:13] sibiraj-s opened #36 "Regression in v0.2.0 - Missing UMD build"
**Describe the bug**

Regression in v0.2.0 - Missing UMD build in the files published to NPM

https://github.com/millionjs/million/blob/6fb1bae08120b4f84f06f170b22a79c79511c654/package.json#L7

**To Reproduce**
Steps to reproduce the behavior:

See https://unpkg.com/browse/million@0.2.0/dist/

[2021-06-19 09:23] aidenybai commented on #36
Thanks for the quick report - on this issue

[2021-06-19 09:26] aidenybai commented on #36
Fixed in v0.2.1

[2021-06-19 09:26] #36 closed

[2021-06-19 14:42] stan-kondrat opened #37 "Add Million.js to js-framework-benchmark"
**Is your feature request related to a problem? Please describe.**
Local benchmark on my machine is 3 times slower relatively to others, _million_ results similar to _virtual-dom_.

**Describe the solution you'd like**
Add cpu/memory/os and browser version to benchmark page

**Describe alternatives you've considered**
Use external service for benchmarking or allow user to post here results and the

[2021-06-19 19:33] aidenybai commented on #37
It seems like this is not an difference with your machine, a newer update of million has made it slower. In regards to the external service - I'm not sure of anything that could provide some functionality like this. Investigating now

[2021-06-19 19:38] stan-kondrat commented on #37
Results for google chrome looks good

[code]

[2021-06-19 19:40] aidenybai commented on #37
Interesting - I might be mistaken then.

[2021-06-19 19:43] stan-kondrat commented on #37
It would be very helpful if you had time to add _million.js_ to [js-framework-benchmark](https://github.com/krausest/js-framework-benchmark)
https://krausest.github.io/js-framework-benchmark/current.html

[2021-06-19 19:50] willdoescode commented on #37
@aidenybai ill do this when I get home

[2021-06-19 23:58] willdoescode commented on #37
CPU should not be needed as the CPU would proportionally effect all other frameworks and libraries we are benchmarking against but I will look into getting millionjs onto external benchmarking sites as well as benchmarking different browsers.

[2021-07-01 15:30] Swindler36 opened #49 "[BUG] Taking syntax error when running the millionjs sample."
My node.js code:

[code]
My node version is `12.16.1`.
npm is `6.13.4`.

Error:

[code]

[2021-07-01 16:21] #49 closed

[2021-07-01 20:02] aidenybai commented on #49
Is this still an issue? I think you need to use a bundler

[2021-07-07 08:32] mehanalavimajd opened #61 "Uncaught SyntaxError: Cannot use import statement outside a module"
**Describe the bug**
I wanted to use million.js but I got this error `Uncaught SyntaxError: Cannot use import statement outside a module`

**To Reproduce**
I installed million and this is my file:
[code]

**Screenshots**
![Screenshot from 2021-07-07 13-00-22](https://user-images.githubusercontent.com/74927578/124726904-708bed80-df23-11eb-9d95-6a31c10140b7.png)

**Desktop (please complete the follo

[2021-07-07 08:54] aidenybai commented on #61
Are you bundling this? If you are, you'll need to attach a `type="module"` attribute to the script tag

[2021-07-07 13:39] mehanalavimajd commented on #61
Thanks a lot 🙏

[2021-07-07 13:39] #61 closed

[2021-07-07 23:29] joselevelsup opened #64 "VFlag Import Undefined"
**Describe the bug**
Importing VFlags leads to import errors with Webpack

**Expected behavior**
Just being able to import VFlags from Millionjs to use with `m` function

**Screenshots**
![image](https://user-images.githubusercontent.com/10066172/124840562-45bc8c00-df59-11eb-86a9-3930b04c3433.png)

**Desktop (please complete the following information):**

- OS: Manjaro
- Browser: Firefox

[2021-07-08 02:10] aidenybai commented on #64
Can you provide more context? Are other methods accessible? Can you send your setup?

[2021-07-08 02:33] joselevelsup commented on #64
So far, all the other methods have been accessible (Mostly the `m` and `createElement` functions since I've been just using those the most) It seems like I just can't access the VFlags Enum.
The project that I am using Million with is [here](https://github.com/joselevelsup/codename-scattered-stars)
As for my setup, you can go to the root of my project. Its using Webpack.

[2021-07-08 04:31] aidenybai commented on #64
Try taking a look at this: https://www.typescriptlang.org/docs/handbook/release-notes/typescript-3-8.html

[2021-07-09 01:53] joselevelsup commented on #64
I'm confused. I'm trying to use the value of the Enum not use it as a type.

[2021-07-09 02:37] aidenybai commented on #64
Enums are a typescript only feature, meaning that you'll have to import it that way I believe.

[2021-07-09 02:50] joselevelsup commented on #64
You don't have to import/export enums that way. If you were only going to use enums only as a type, then that would make sense.
I have custom enums setup in this project and I import them as a regular exported enum and I'm able to access their values. An example [here](https://github.com/joselevelsup/codename-scattered-stars/blob/main/src/utils/index.ts).
The array `supplyList` uses the enum `Inve

[2021-07-09 07:43] aidenybai commented on #64
I think if you write your own enums in your own project you can just import it directly and do as you please, but I believe for libraries (when using a bundler) it's a bit different.

At least in my vite setup (I'm not sure about webpack), I need to import with the `type` keyword. I'm assuming this needs to happen to hint to the bundler to check the type declarations file rather than the actual ex

[2021-07-09 07:48] aidenybai commented on #64
You can see in the bundle at LOC 91 https://unpkg.com/browse/million@0.2.2/dist/million.umd.js

But in the type declaration bundle it is exported LOC 14 https://unpkg.com/browse/million@0.2.2/dist/million.d.ts

[2021-07-09 07:55] aidenybai commented on #64
I'll look into this and get back to with a solution once I find one

[2021-07-12 08:12] Swindler36 commented on #49
Ok. I solved this issue. I tried it on a node.js env instead of the browser. :)

[2021-07-14 04:15] aidenybai commented on #64
@joselevelsup Fixed in [v0.2.3](https://github.com/aidenybai/million/releases/tag/v0.2.3). I recommend checking the new docs for clarifications on VFlags

[2021-07-14 04:15] #64 closed

[2021-07-14 04:37] joselevelsup commented on #64
Awesome! I'll take a look when I can. Thank you for looking at this.

[2021-07-14 19:30] joselevelsup opened #71 "'m' cannot be used as a value because it was exported using 'export type'."
**Describe the bug**
As the title states

**To Reproduce**
[code]

**Expected behavior**
Everything compiles as it should.

**Screenshots**
![image](https://user-images.githubusercontent.com/10066172/125681308-d37a7c88-0f83-448b-832c-d9d6495154ba.png)

**Additional Context**
It looks like in the million.d.ts file, m, createElement, and patch are being exported as types and not as functions

[2021-07-14 19:30] joselevelsup commented on #71
I have to revert to 0.2.2 in order for everything to work as is.

[2021-07-14 20:44] aidenybai commented on #71
Seems like an issue with build process and how it's generating the d.ts file, looking into it

[2021-07-15 03:31] aidenybai commented on #71
Fixed in v0.2.5

[2021-07-15 10:15] hyrious opened #72 "`browser` field has higher priority than `module`"
**Describe the bug**
The package.json is wrong. `browser` field is not only can be used to tell cdn to use this file, but also tells bundlers (webpack, rollup, etc.) to use it over the `module` one.

- [See webpack prefers `browser` over `module`](https://webpack.js.org/configuration/resolve/#resolvemainfields).
- [Esbuild the same](https://esbuild.github.io/api/#main-fields).

This prevents bundl

[2021-07-15 13:10] #71 closed

[2021-07-15 13:23] aidenybai commented on #72
Thanks for the information and educating me, this was very helpful. I'll push out a new patch release fixing this issue.

[2021-07-15 14:12] #72 closed

[2021-07-16 11:53] abhishekraj272 opened #76 "I was trying to create a UI library on top of million, but there are few bugs."
**Describe the bug**
Can't create element without children

**To Reproduce**
[code]
Here, Nimble is the wrapper on Million.

**Screenshots**
![image](https://user-images.githubusercontent.com/27128838/125943344-48318b7a-b94c-4e74-a262-0bd0a9b7394e.png)

@aidenybai

[2021-07-16 12:22] hyrious commented on #76
You should read the [doc](https://million.js.org/functions/createElement) first.

To create a single tag, example code:

[code]

[2021-07-16 12:59] hyrious opened #77 "Bug: the tag of newNode with props/children is not patched"
**Describe the bug**
Review this part of the code.
https://github.com/aidenybai/million/blob/9def880a582dc40634f90cb64ecba31d75b93225/src/patch.ts#L124-L133

**To Reproduce**
You can run this code in a plain html page.

[code]

**Expected behavior**
The final result of `el.outerHTML` should be `<div>world</div>`

[2021-07-16 16:30] #76 closed

[2021-07-17 17:46] #77 closed

[2021-08-08 05:47] hyrious opened #107 "Question: patch performance."
The [patch algorithm with no _delta_ info](https://github.com/aidenybai/million/blob/372294f7088c7f65bd17d9afc37677823d8e763d/src/patch.ts#L80-L87) is quite simple and it's easy to make a worst case.

e.g. If we patch `A B C` &rarr; `X A B C`, this algorithm would compare & patch old_C with B, then old_B with A, then old_A with X, then insert C (4 steps). While the best way to do this is one step:

[2021-08-08 08:07] aidenybai commented on #107
Good point, I've been trying to work on this issue but my knowledge + experience with algorithms is too little to pull something off like this.

I think deltas are still a viable feature, as it can be very useful, but I also agree with you the current patch algorithm can be refactored to be significantly more performant.

I've tried [to copy over and monkey-patch the diffing algorithm](https://git

[2021-08-08 22:51] loteoo commented on #107
I'd add [superfine](https://github.com/jorgebucaran/superfine/blob/main/index.js) to the list of libraries to checkout for inspiration for this issue.

I'm using million for a test project and am not really using the delta features so far (I'd rather wait for an automated solution and I'm in no rush). I like million over some other libraries because I can easily read it's clean typescript codebase

[2021-08-09 08:22] aidenybai commented on #107
Update: currently have a prototype working in `efficient-keyed-diffing` branch

[2021-08-13 16:31] rk opened #113 "Request: support setting data/aria attributes"
**Is your feature request related to a problem? Please describe.**

So, I've been trying to figure out how to associate nodes created by million with data in the rest of the script. Note that for this use-case I'm creating a menu builder using dragula to allow drag and drop ordering/nesting. As such, it's simpler to leverage the DOM to maintain the tree than in-memory within the script. Just query

[2021-08-14 03:52] aidenybai commented on #113
I think the use case in this specific case when paired with Dragula may not be the best use case for Million - in terms of dragging a dropping, a "Virtual DOM" way of doing it is modifying the placement based on the state. DOM modifications without using the designated `patch` function is generally an antipattern.

I've really never used `data-` attributes in any meaningful capacity, so let me kno

[2021-08-15 08:42] #107 closed

[2021-08-15 09:07] aidenybai commented on #107
Merged in #109, releasing in next minor version

[2021-08-16 13:09] rk commented on #113
I understand if supporting state in the DOM (like drag and drop) isn't in Million's use-case.

However, note that the library just doesn't work when setting `data-` or `aria-` attributes. I tested this before reporting. Just open the inspector here and selected a node, then `$0["data-test"] = "foo"` in the console. It'll write the property, but not to a data attribute. That same behavior goes to a

[2021-08-16 16:55] aidenybai commented on #113
Thanks! I am able to repro this issue and I implemented a solution in https://github.com/aidenybai/million/commit/c9902dbe78be21589eb8d96a2dbe42ad74fd8ea7. It'll be pushed in the next minor version. Thanks so much for reporting!

[2021-08-16 16:55] #113 closed

[2021-08-19 05:42] aidenybai opened #115 "Feature: test"
### Is your feature request related to a problem? Please describe.

[code]

### Describe the solution you'd like

[code]

### Describe alternatives you've considered

[code]

### Additional context

[code]

[2021-08-19 05:42] #115 closed

[2021-09-08 05:33] aidenybai opened #118 "Bug: JSX namespace not being recognized in vite TSX context"
### Describe the bug

[code]

### To Reproduce

[code]

### Expected behavior

[code]

### Screenshots

[code]

### Operating System

MacOS Monterey

### Browser

Brave 1.29.77 Chromium: 93.0.4577.63 (Official Build) (arm64)

### Additional context

[code]

[2021-09-08 08:40] hyrious commented on #118
To let TypeScript find your jsx-runtime's types, there should be `{path}.d.ts` or `{path}/index.d.ts` where `path` = `million/jsx-runtime`.

So the solution is quite simple:
Move the `./dist/jsx-runtime.d.ts` to `./jsx-runtime.d.ts`.

- - -

What's more, users should know the correct way to write tsconfig.json:

[code]

Also, the file containing jsx (tsx) should have at least one `import/export` t

[2021-09-08 09:47] hyrious commented on #118
Also, there's no problem with your vite config, it is correct, and vite is able to build it correctly.

[2021-09-08 15:42] aidenybai commented on #118
I'm wondering if theres a more elegant way to do this. Initially, I wanted the conditional export on [package.json L29](https://github.com/aidenybai/million/blob/6b794d355c0e7a60c47db3a0ca6349531d54e231/package.json#L29) to be "trapped" first (this one has types associated), and use the `jsx-runtime.js` as a fallback, but it seems like the `jsx-runtime.js` is being resolved first, thereby not bein

[2021-09-08 17:05] hyrious commented on #118
Let's clarify that here are two concepts:

- bundlers reads `exports` to resolve js file, which is exactly `dist/jsx-runtime.js`. They have no reason to choose `./jsx-runtime` because `exports` has the highest priority and once set, there can only be those paths to be exported.

- typescript reads `types` (for entry point) and tsconfig (if exist) to resolve types. Other paths are mapped to be rela

[2021-09-08 20:19] #118 closed

[2021-09-08 20:21] aidenybai commented on #118
Thanks! Your explanation was really helpful. I chose to go with the:

[code]

In the commit I referenced

[2021-09-10 09:08] hyrious opened #119 "Feature: patch return new dom element"
### Is your feature request related to a problem? Please describe.

[code]

### Describe the solution you'd like

[code]

### Describe alternatives you've considered

[code]

### Additional context

_No response_

[2021-09-10 16:20] aidenybai commented on #119
Prototype implementation in #120, feel free to check it out. I'll merge it later if there are no issues. Thanks for the feature request

[2021-09-10 18:29] #119 closed

[2021-09-28 19:56] rk opened #124 "Bug: export 'kebab' not found in './million'"
### Describe the bug

[code]

I think this is pretty straight-forward?
[code]

### Expected behavior

[code]

### Screenshots

_No response_

### Operating System

MacOS Catalina 10.15.7 (19H1419)

### Browser

Terminal build-step

### Additional context

[code]

Webpack config:

[code]

`.babelrc`
[code]
[code]

[2021-09-28 23:12] aidenybai commented on #124
Fixed in [v0.6.2](https://github.com/aidenybai/million/releases/tag/v0.6.2)

[2021-09-28 23:12] #124 closed

[2021-09-29 13:45] rk opened #127 "Bug: SVG not created with correct namespaceURI"
### Describe the bug

We use Icomoon (icomoon.io) for the icons in the app I'm working on, specifically with the SVG spritesheet option. Icons use markup like:

[code]

From what I'm reading of the documentation, the million version should look like:

[code]

From my research into JSX that should look like:

[code]

However, the icon does not display. The created element's `$0.namespaceURI` is inc

[2021-09-29 19:18] aidenybai commented on #127
Should be working in the commit that is referenced. This is really good to know! Million hasn't really been seriously pressure tested, so these issues mean a ton!

[2021-09-29 19:53] rk commented on #127
So far, my Renderer for the page's data is 426 lines long. Of that, 256 lines are JSX/million. I'm even using million's onchange/onclick event handler binding, which was a little tricky at first. I'm completely impressed by how fast million is with reflecting changes to the VDOM.

I have a sort of `ViewModel <- (message bus) -> Million` architecture set up. In fact, sorting and then `patch()`-ing

[2021-09-29 21:12] aidenybai commented on #127
Should be fixed in https://github.com/aidenybai/million/releases/tag/v0.6.3!

[2021-09-29 21:12] #127 closed

[2021-10-01 07:44] aidenybai opened #128 "Feature: Add Matt-Esch/virtual-dom to benchmarks"
### Is your feature request related to a problem? Please describe.

[code]

### Describe the solution you'd like

[code]

### Describe alternatives you've considered

[code]

### Additional context

_No response_

[2021-10-11 20:13] rk opened #137 "Bug: inconsistent performance when adding this extra header to page"
### Describe the bug

In the timesheet entries, I have the system set up to render the rows and it all works great. DOM operations for insert/delete/update are roughly 30ms total. Then in some contexts I need to add a header that summarizes the data for the timesheet. It's really just status and totals, because the totals may update when changes are made and that feedback can be helpful to the use

[2021-10-11 23:10] aidenybai commented on #137
Looking through the code you provided, I can't pinpoint any glaringly obvious things that could reduce performance of the renderer. This just might be an underlying issue with the Virtual DOM model in general, and I recommend you try out the `key` prop ([this](https://million.js.org/functions/m#optimization-via-keys) and [that](https://million.js.org/functions/m#:~:text=VFlags.ONLY_KEYED_CHILDREN%

[2021-10-12 15:13] aidenybai commented on #137
You can manually add an ignore=true prop to an element to completely skip rendering on it.

[2021-10-15 18:14] #137 closed, assigned to aidenybai

[2021-10-22 17:10] rk opened #141 "Bug: why does using keys produce seemingly random duplicates?"
### Describe the bug

The deeper you go, the more likely you are to hit this issue. For instance, a top-level wrapper with `ONLY_KEYED_CHILDREN` and unique keys appears to work fine. But nest it within another element as a wrapper, and duplicates start appearing after adding maybe 3 items.

Reproducing this in a basic page like this was a nightmare. 🥵 I still haven't actually reproduced the issue

[2021-10-23 01:02] #141 closed, assigned to aidenybai

[2021-10-23 01:54] aidenybai commented on #141
Fixed in `0.6.7`

[2021-10-28 23:47] aidenybai opened #145 "Is this me, or is this form of setter the issue?"
### Discussed in https://github.com/aidenybai/million/discussions/144

<div type='discussions-op-text'>

<sup>Originally posted by **rk** October 28, 2021</sup>
So, I've had this happen several times in various places. And it appears to stem from assuming that the object representing the row is passed by reference, so that changes to that object are kept with it even if sort changes its position.

[2021-10-29 05:06] #145 closed, assigned to nobody

[2021-11-02 15:25] aidenybai opened #150 "Bug during Jsx children with one child only"
### Discussed in https://github.com/aidenybai/million/discussions/149

<div type='discussions-op-text'>

<sup>Originally posted by **adi-L** November  2, 2021</sup>
I'm not certain where is the bug, and what the cause of the issue.

The Code:
[code]

The Error:
Uncaught TypeError: Found non-callable @@iterator

It works fine if there is more than one child.
like this code:
[code]

the error  happe

[2021-11-02 15:26] #150 closed

[2021-11-16 22:48] tkofh opened #153 "Bug: `patch` does not remove `className` attribute from element"
### Describe the bug

[code]

### To Reproduce

[Codesandbox Reproduction](https://codesandbox.io/s/million-no-remove-class-attribute-fcgq5?file=/src/index.ts)

[code]

At the end of this script, after a `patch` with no className prop and one with an empty string, `blue-text` will still be attached to the HTML element.

### Expected behavior

[code]

### Screenshots

_No response_

### Operating S

[2021-11-17 01:24] aidenybai commented on #153
Fixed in #154

[2021-11-17 01:26] aidenybai commented on #153
Patch in v0.7.1

[2021-11-17 01:26] #153 closed

[2021-11-25 15:07] SukkaW opened #160 "Bug: createElement doesn't support Fragment as root VNode."
### Describe the bug

The return type of `Fragment` is `VNode[]`.

https://github.com/aidenybai/million/blob/7ccc5f021df8ea384d5e03da165633238b52529f/src/jsx.ts#L110

However, `createElement` doesn't support passed in an array of VNode:

https://github.com/aidenybai/million/blob/1ea5443220a9d7caf1512862a3b24e968548e638/src/createElement.ts#L10-L13

### To Reproduce

[code]

### Expected behavior

[2021-11-25 17:59] aidenybai commented on #160
Here's what I'm a bit conflicted about with Fragment -- and I'd like your feedback on this:

Million.js is a Virtual DOM library, and is intended just to be a Virtual DOM library. This means concepts like state, components, etc need to be developed by the user or various [library explorations upon million](https://github.com/aidenybai/hacky). I'm hesitant to add multiroot support directly to the m

[2021-11-25 18:15] SukkaW commented on #160
Yeah, I am fully aware of that, and I am managing state myself, and let million to only does DOM manipulation.

Sometimes it will produce invalid HTML, just as React's `<table> example` [in their documentation](https://reactjs.org/docs/fragments.html#motivation):

[code]

Yeah, Of course, I won't ask Million to have React's `keyed Fragments` or *future additional attributes*. But `VNode[]` is stil

[2021-11-25 18:39] aidenybai commented on #160
I'll leave this issue here for a day and see if there is any additional feedback from others. If there is not, i'l proceed in adding multi-element support for createElement

[2021-11-26 00:19] aidenybai commented on #160
After some thought and discussion with friends, I think it may be best to leave this out of Million.js' featureset. I say this because this can fundamentally change some parts of the API -- How would `createElement` deal with a fragment? Just return an array of elements in which the user needs to iterate over and `appendChild` anyway?

Additionally, the patch system would also need to be reworked,

[2021-11-26 11:00] SukkaW commented on #160
Agreed, that's fair.

[2021-12-23 21:06] aidenybai commented on #160
After experimenting with this for the last couple of days -- this seems to be possible with minimal changes and no longer needs a mounting system. Pushing soon!

[2021-12-23 22:59] #160 closed

[2021-12-24 17:50] jcestibariz opened #162 "Bug: elements with a key are not updated"
### Describe the bug

[code]

### To Reproduce

[code]

### Expected behavior

[code]

### Screenshots

_No response_

### Operating System

MacOS

### Browser

Google Chrome 96

### Additional context

_No response_

[2021-12-24 19:47] aidenybai commented on #162
This is an intentional feature. If the key is the same before and after, then Million.js assumes it is the same node. A key denotes the same content / "concept" even if it is in a different position within the children of the parent node. If you want to implement the functionality you specify, maybe you might consider something like this:

[code]

[2021-12-25 18:05] jcestibariz commented on #162
Good to know, thank you.

[2021-12-25 18:05] #162 closed

[2022-01-02 08:19] deelocodes opened #163 "Deploy your app for free 🚀"
Hey @aidenybai, I'm just stopping by to say great work and to make a recommendation! Will you need to host your app in the future? If so, I'd highly recommend using [DeeloCloud](https://www.deelo.cloud). It's built for developers, it's super easy to use, and you won't have to manage servers - which means you can focus on building!
Here's how it works in a few steps:

After signing up at https://de

[2022-01-02 08:24] aidenybai commented on #163
Thanks for the suggestion! Million.js is currently using Vercel and is not planning on switching. Have a good day :)

[2022-01-02 08:24] #163 closed

[2022-02-10 19:33] aidenybai opened #167 "Querying"

[2022-02-11 04:27] #167 closed

[2022-02-25 12:51] seeratawan01 opened #169 "Bug: Unable to import million/block (Module not found: Error: Can't resolve 'packages/million/m')"
### Describe the bug

[code]

### To Reproduce

[code]

### Expected behavior

[code]

### Screenshots

_No response_

### Operating System

Ubuntu

### Browser

FireFox

### Additional context

[code]

[2022-02-25 16:49] aidenybai commented on #169
Fixed in #169, pushing new patch soon

[2022-02-25 16:49] #169 closed

[2022-03-08 22:10] aidenybai opened #172 "feat(ssr): virtual node to html"
**Is your feature request related to a problem? Please describe.**
SSR needs to get a static html string for prerendering. Currently, Million uses a very naive implementation:

https://github.com/aidenybai/million/blob/0a8b3dc08ed3328bc2cd03afbf3b190d75a3813c/packages/shared/convert.ts#L47

This implementation misses a lot of edge cases (like events, object attribute value, etc)

**Describe the so

[2022-03-09 01:09] #172 closed

[2022-03-09 06:58] wwog opened #174 "bug: https://millionjs.org/docs/start-here"
https://millionjs.org/docs/start-here
Error in sample code in Building a search input

[code]

[2022-03-09 07:23] aidenybai commented on #174
Hi, could you give a more detailed explanation of the error an a reproduction procedure?

[2022-03-09 17:15] aidenybai commented on #174
I think I understand now. The docs have been updated with the new content.

[code]

[2022-03-09 17:15] #174 closed

[2022-03-19 22:37] SukkaW opened #175 "bug: million.js can not handle `children` props with falsy values"
**Describe the bug**

RT.

**To Reproduce**

[code]

**Expected behavior**

render an empty `div`.

**Screenshots**

[code]

**Device (please complete the following information):**

Doesn't matters.

**Additional context**

I am using `automatic` transform. I have taken a look at the code and found out why:

https://github.com/aidenybai/million/blob/main/packages/jsx-runtime/jsx.ts#L9-L12

Here yo

[2022-03-20 02:01] aidenybai commented on #175
For some reason I cannot reproduce this bug, is the repro example too contrived to produce the error?

![Screen Shot 2022-03-19 at 7 00 20 PM](https://user-images.githubusercontent.com/38025074/159144790-826d219b-276e-4df8-b736-15411bfb8cee.png)

[2022-04-07 08:10] stoivo opened #176 "bug: Something strange on https://millionjs.org/ in Firefox"
**Describe the bug**
Something strange with scrollbar on homepage
![Million 2022-04-07 10-06-38](https://user-images.githubusercontent.com/3492040/162151902-47c8f3fa-9685-45d9-be8b-9b166d27baf6.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Open Firefox 98.0.2 om MacOS
11. Go to 'https://millionjs.org/'
4. See error

[2022-04-07 17:49] aidenybai commented on #176
For some reason I cannot repro this error on Firefox 98.0.2 on MacOS, do you have any extensions installed that may be affecting the visuals?

[2022-04-09 12:56] Posandu commented on #176
![image](https://user-images.githubusercontent.com/76736580/162575033-7b3c2ce6-a5eb-4a59-bc33-e6745189836d.png)
can reproduce in the latest Firefox in windows

[2022-04-09 17:01] aidenybai commented on #176
I've removed the grid lines on the doc, could you try and see if the issue persists? @Posandu @stoivo

[2022-04-09 18:15] stoivo commented on #176
issue seems resolved

[2022-04-09 18:15] #176 closed

[2022-04-13 06:37] Borrus-sudo opened #177 "feat: take million router implementation to next level"
**Is your feature request related to a problem? Please describe.**
This feature is to take million/router to next level

**Describe the solution you'd like**
My presented solution is to make url prefetching and diffing faster by doing it ahead of time and parallel in a web worker. Users can present links with a dummy attribute to recognise the priority of resource. All the links in the current pag

[2022-04-13 06:39] Borrus-sudo commented on #177
I will be to help you in implementation

[2022-04-13 06:44] Borrus-sudo commented on #177
The common problem with MPA is that the DOM is reconstructed which is bad for subsequent navigations. Hence million/router will solve this. Plus we will also need to think about ways in which common dom elements (eg navbar) can be preserved leaving them from the diffing and patching the dom phases for boosted perf

[2022-04-13 06:53] Borrus-sudo commented on #177
The compilation steps can also be introduced to save http round trips.

So

Page A -> Page B (cached ahead of time)
Then User immediately nagivsted from page B to page C (no time to cache ahead of time)
With compilation:
Page A -> Page (B+C) (cached cause we know C is pretty high priority so we will save http round trip

[2022-04-13 06:54] aidenybai commented on #177
Hmm it seems like you currently know a lot more about this topic than I do, I might need some time to familiarize with this topic. I think this is over a great idea!

Any help would be great! I've invited you as a contributor to the repository

[2022-04-14 17:58] dperrymorrow opened #178 "feat: Router to highjack forms as well as anchors"
**Is your feature request related to a problem? Please describe.**
would be super helpful if router handled form submissions as well. I think this would make it feel much more "SPA like" than just doing anchor links. Many times this is what folks resort to a SPA for dealing with form validation ect...

**Describe the solution you'd like**
Similar to how it handles clicks on the window, if it handl

[2022-04-14 17:59] dperrymorrow commented on #178
Im happy to help with a PR if this is something you are interested in pursuing. Great library BTW!! There are not many "modern" takes on Virtual DOM out there currently

[2022-04-14 18:39] Borrus-sudo commented on #178
@dperrymorrow we will work on it in issue #177, it would be cool if we could take that discussion there. Plus we would like if you could suggest some more points!

[2022-04-14 18:39] Borrus-sudo commented on #178
Happy to receive the PR for this!

[2022-04-14 18:42] Borrus-sudo commented on #178
This would be a perfect fit for the greater vision of million/router for making subsequent navigations to page in MPA in SPA!

[2022-04-14 22:56] aidenybai commented on #177
Thanks! I've created the `router-next` branch to hold the suggestions you raised (root + `data-flag`) as well as the original issue

[2022-04-14 22:58] aidenybai commented on #178
Agreed with @Borrus-sudo! I like the ideas presented here. Closing in favor of merging to #177

[2022-04-14 22:58] #178 closed

[2022-04-19 10:15] aidenybai opened #180 "bug: fix double rendering issue"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Device (please complete the followin

[2022-04-19 18:03] #180 closed

[2022-04-27 15:42] HerbertHe opened #181 "bug: How to tranform raw HTML to VElement"
**Describe the bug**
I am developing a markdown renderer with vdom. As we all know, `highlight.js` is used to help us to highlight the source code. So I want to use it in the renderer, I try to use the following codes to meet my goal:

[code]

Or,

[code]

So I want to know about how to transform raw HTML string (Maybe with `\n`) to VElement?

**To Reproduce**
Steps to reproduce the behavior:
1. i

[2022-04-27 17:15] aidenybai commented on #181
I'm not able to repro the `Uncaught (in promise) TypeError: Cannot read properties of null (reading '__m_old_vnode')`. Could you try bumping to the latest version of Million to see if the issue persists?

Here is my repro code:

[code]

<details>
<summary>Click to view console log</summary>

<pre><code>

<span class="hljs-tag">&lt;<span class="hljs-name">h1</span>&gt;</span>Hello World!<span class

[2022-04-27 20:44] aidenybai commented on #181
So `htm` is just a helper function to create vnodes. `htm` may support fragment because it is generalized for all Virtual DOM-based libraries (e.g. react, preact, etc.), but Million does not at the top-level node.

For instance, `htm` may generate:

[code]

And you can interpolate that within Million children, but not at top level:

[code]

[2022-04-28 04:53] HerbertHe commented on #181
Thanks for your explanation, I got it! I will try to fix this issue in my code~

[2022-04-28 06:01] #181 closed

[2022-05-02 18:15] aidenybai commented on #175
Closing for inactivity

[2022-05-02 18:15] #175 closed

[2022-06-01 13:57] HerbertHe opened #184 "bug: `fromStringToVNode` type defination would cause error"
**Describe the bug**
I found that the type defination of new utils function `fromStringToVNode` is `declare const fromStringToVNode: (htmlString: string) => VNode`.Then I tested it with fragments, but I found the type of the return value is `VNode[]`.

I think the incorrect type defination would cause TypeScript type error.

**To Reproduce**
Steps to reproduce the behavior:
1. try any fragments wi

[2022-06-01 15:20] #184 closed

[2022-06-03 17:25] aidenybai opened #185 "feat(react): component level render"
Currently, Million renders the whole UI (through the `compat` function. It would be more efficient to have "component level renders", where the `hook` function is invoked on each component and `setState` would rerender only the component and its children. This would also effectively remove the need for the `compat` function

I'm having trouble implementing this, any help would be greatly appreciat

[2022-06-03 17:30] aidenybai commented on #185
Currently, I have a seperate file for creating components (doesn't work)

[code]

[2022-06-04 16:18] HerbertHe opened #187 "feat: `diff` function to support exporting the difference between the two vnodes"
**Describe the solution you'd like**
I found that nearly all of the vdom frameworks support effecting the dom directly, but don't support exporting the difference between the two vnodes. I thought maybe it would be useful when we want to get difference between the two vnodes and render them to the website for visualization by the custom styles, just like the git diff styles that help us to diff th

[2022-06-04 19:53] aidenybai commented on #187
There is existing functionality for exporting diffs with the `diff` function:

You can access effects with `data.effects`. An effect looks like:

[code]

I'm not exactly sure how the diff functionality for the highlighting will work. I think it would be easier to provide the `newVNode` and `oldVNode` in the effect, that way the developer can implement the highlight diff

[2022-06-04 20:22] #185 closed

[2022-06-06 16:23] aidenybai opened #189 "bug(react): nest components in components do not work"
**Describe the bug**
Nested components, only at the root level of the parent component, will not work.

**To Reproduce**

[code]

Will not increment when clicked

[2022-06-06 16:36] #189 closed

[2022-06-15 15:45] gustavopch opened #190 "feat: something like Svelte actions"
**Is your feature request related to a problem? Please describe.**
Not applicable.

**Describe the solution you'd like**
I'd like to use something like Svelte actions in Million, e.g.:
[code]

**Describe alternatives you've considered**
Maybe it can be implemented with a driver? Not sure yet, I discovered Million less than 24h ago.

**Additional context**
https://svelte.dev/docs#template-syntax-el

[2022-06-15 15:47] aidenybai commented on #190
Yes! So there is no completed hook system at the moment, but there is a hook field that runs prior to diff. What hooks do you think would be useful? At the moment, I can only think of `create`, `update`, `destroy`

[2022-06-15 15:51] gustavopch commented on #190
@aidenybai I guess those 3 are enough to mimic Svelte actions.
- `create` is the action function itself
- `update` and `delete` are returned by the function and run later

[2022-06-15 16:19] gustavopch commented on #160
@aidenybai So passing multiple root-tags to `html` isn't (and won't be) supported, right?
[code]

[2022-06-15 16:45] aidenybai commented on #160
Fragment will (likely) never be supported by the underlying Virtual DOM, but the react compat package will support Fragment

[2022-06-15 20:16] gustavopch opened #191 "bug: `Cannot set property form of #<HTMLButtonElement> which has only a getter`"
**Describe the bug**
When trying to create a button element with the `form` attribute, the following error happens:
[code]

**To Reproduce**
1. Open https://stackblitz.com/edit/mega-millions-ryy3r5?file=index.html
2. See the error in the console

**Expected behavior**
It should be possible to create a button element with the `form` attribute just as it's possible to do this:
[code]

Maybe the `for

[2022-06-16 07:21] aidenybai commented on #191
Fixed in #192

[2022-06-16 07:21] #191 closed

[2022-06-16 08:23] aidenybai commented on #190
Added in latest merge. Will be released in a new patch shortly

[2022-06-16 13:41] gustavopch commented on #190
@aidenybai Great! It seems the commit didn't touch the docs yet. Can you post here an example of how to use it to achieve the same as the initial pseudo-code that I suggested?

[2022-06-16 15:59] gustavopch commented on #190
@aidenybai Thanks! One more question: can I pass an array of hooks instead of just one? For example:
[code]

If not, it would be nice to add support to it.

[2022-06-16 16:06] aidenybai commented on #190
I'm wondering whether it would be more practical to shift this responsibility to userland. For instance the hook below can just run all the functions instead of having an array abstraction:

[code]

[2022-06-16 16:36] aidenybai commented on #190
I like this idea! Implemented in ee824f9934595845fff37ba4e577b36c24ca2d5b

[2022-06-16 16:57] gustavopch commented on #190
@aidenybai You're fast! 😄 What about the `node` parameter? Can we have that too, or is there already another elegant way for the hook to get a reference to the node?

[2022-06-16 16:59] aidenybai commented on #190
Thank you! Every hook provides the node, newVNode, and oldVNode:

[code]

[2022-06-16 22:32] gustavopch opened #195 "bug: error when using `xmlns:xlink`"
**Describe the bug**
When trying to create an `<svg>` element with the `xmlns:xlink` attribute, the following error happens:
[code]

**To Reproduce**
1. Open https://stackblitz.com/edit/mega-millions-iqrsnb?file=index.html
2. See the error in the console

**Expected behavior**
It should be possible to create an `<svg>` element with the `xmlns:xlink` attribute just as it's possible to do this:
[cod

[2022-06-17 03:21] cbbfcd commented on #195
[yep, more about this bug ](https://dom.spec.whatwg.org/#dom-element-setattributens).

[2022-06-17 05:50] aidenybai commented on #195
The DOM-based repro is roughly this:

[code]

[2022-06-17 08:11] cbbfcd commented on #195
@aidenybai if use `xlink:href` or others:

[code]

refer to [preact-svg](https://github.com/developit/preact-svg/blob/master/src/index.js#L104)

[2022-06-17 18:34] aidenybai commented on #195
I see... I pushed a fix in d44a631. Thank you @cbbfcd @gustavopch!

[2022-06-17 18:34] #195 closed

[2022-06-18 18:54] #190 closed

[2022-06-19 19:19] aidenybai opened #200 "million + react: useRef acting incorrectly"
### Discussed in https://github.com/aidenybai/million/discussions/199

<div type='discussions-op-text'>

<sup>Originally posted by **kimkanu** June 19, 2022</sup>
https://stackblitz.com/edit/github-yiegkd?file=src%2FApp.jsx

I have just cloned the demo million-react project and added a simple ref for the div wrapping everything, and the children stopped rerendering. What would be the cause of this

[2022-06-19 19:21] anddddrew commented on #37
i'll be taking this on 👍

[2022-06-19 20:36] #200 closed

[2022-06-20 01:00] aidenybai commented on #37
@anddddrew Just as a guideline for this issue, you'll need to fork https://github.com/krausest/js-framework-benchmark.

They have some specific rules you need to follow, let me know if you need any help with the benchmarks :)

[2022-06-22 05:00] aidenybai commented on #187
Hey! I seen you've made some issues to the Million repo, If you'd be willing I'm extending an invitation for you to become a collaborator :)

Link: [aidenybai/million/invitations](https://github.com/aidenybai/million/invitations)

[2022-06-22 05:00] #187 closed

[2022-06-22 05:01] aidenybai commented on #190
Hey! I seen you've made some issues to the Million repo, If you'd be willing I'm extending an invitation for you to become a collaborator :)

Link: [aidenybai/million/invitations](https://github.com/aidenybai/million/invitations)

[2022-06-23 06:13] cbbfcd opened #202 "feat: give monorepo a hug"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
just a discuss, is there any plan about [monorepo](https://pnpm.io/workspaces)?
**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concis

[2022-06-23 06:37] aidenybai commented on #202
I would love to do something like this! Possibly with [Turborepo](https://turborepo.org) as well!

[2022-06-24 05:00] aidenybai opened #203 "bug: Wouter compat"
**Describe the bug**
Wouter errors when integrated into a Million/React environment

**To Reproduce**

[code]

Gives something like this:

[code]

**Expected behavior**

Should behave as [Wouter](https://github.com/molefrog/wouter) intends it to

[2022-06-24 05:00] aidenybai commented on #203
@cbbfcd wondering if you have any insight into this issue

[2022-06-24 09:10] cbbfcd commented on #203
ok~

[2022-06-24 09:11] cbbfcd commented on #202
👀, let me do some search for [Turborepo](https://turborepo.org/).

[2022-06-24 17:24] cbbfcd commented on #203
After some experiments, I found some problems, and I will make PRs one by one to improve.

[2022-06-24 17:42] cbbfcd commented on #203
@aidenybai i found some problems(in version `1.11.2`) have been fixed, like [this](https://github.com/aidenybai/million/blob/main/src/react/compat.ts#L16). can u publish a new version?

[2022-06-24 21:39] aidenybai commented on #203
Gotcha, thank you for your help. If you need any input from me don't hesitate to ask

[2022-06-25 11:31] cbbfcd opened #208 "bug: rendered `_` in the dom tree."
**Describe the bug**
A clear and concise description of what the bug is.
<img width="972" alt="image" src="https://user-images.githubusercontent.com/20987775/175771617-11f29302-90ef-41d6-90e0-12e747b08491.png">

maybe caused by here:
<img width="945" alt="image" src="https://user-images.githubusercontent.com/20987775/175771678-fad94fb3-2d23-4473-b482-ff6d39fc57dc.png">

**To Reproduce**
Steps to r

[2022-06-25 12:09] cbbfcd opened #209 "bug: `diff` children, the vnodes can includes `null` node"
**Describe the bug**
A clear and concise description of what the bug is.
<img width="1630" alt="image" src="https://user-images.githubusercontent.com/20987775/175772829-f2ef3a55-b4f1-42b5-bbde-ddea59e0b75e.png">

<img width="1151" alt="image" src="https://user-images.githubusercontent.com/20987775/175772865-f579db61-ea03-44d1-b184-d571ebf819c7.png">

so, the element can be removed, it's not work a

[2022-06-25 16:21] cbbfcd commented on #203
now, wouter is run successfully.

[2022-06-25 20:41] aidenybai commented on #208
This is intentional because root fragments are currently unsupported (or at least I'm not sure how it can be supported).

The `_` tag acts like a "passthrough" element with `display: contents`, allowing it to behave like a root fragment.

[2022-06-25 20:45] aidenybai commented on #209
I think in this case Million defers the responsibility of children normalization to the `h` function.

This way, computation to remove nully values in VNode does not occur during the runtime, but during compile time

[2022-06-25 20:49] aidenybai commented on #209
Does #210 fix for Wouter?

[2022-06-25 23:48] aidenybai commented on #202
TODO: merge in https://github.com/aidenybai/million-site under /docs

[2022-06-26 08:11] aidenybai commented on #203
Hmm.. I'm not able to get Wouter working on my side... Could you provide the repro of working Wouter? Thank you in advance!

[2022-06-26 09:43] cbbfcd commented on #209
if the runtime does not handle null children-vnode, there will be problems like this.

if the `vnode children` is :
[code]

when run into the `diff` function:
[code]

`el.childNodes` will filter the `null` child, so `el.childNodes.item(3)` is `empty` and `el.childNodes.item(2)` matched newVnode is `null`, so the third element will be remove.

[2022-06-26 09:46] cbbfcd commented on #208
gotcha

[2022-06-26 09:51] cbbfcd commented on #209
I found this problem through the `wouter` demo you provided. When the route address is `users/1`, after clicking the button twice, the rendered `Route` component will disappear.

i debug for this problem,

it is found that the root of the problem is that vnode.children contains null, and el.childNodes does not contain null, so there may be problems when executing diff, and `remove` is executed on

[2022-06-26 19:12] aidenybai commented on #209
I see, I'll make some changes and merge your PR. Thanks for the explanation

[2022-06-27 04:14] aidenybai commented on #209
I'll be adding some more fixed to this PR to fix #203 -- expect a merge by the end of this week!

[2022-06-27 07:38] cbbfcd commented on #203
because I modified the source code in `.pnpm`, I will take screenshots to illustrate.

1. a simple `wouter` controlled routing page
<img width="1103" alt="image" src="https://user-images.githubusercontent.com/20987775/175883592-038ad218-f764-4a26-b833-859edd1fef4d.png">

2. change one
<img width="1439" alt="image" src="https://user-images.githubusercontent.com/20987775/175884364-e23606e4-f61f-4e6d

[2022-06-27 23:13] aidenybai commented on #203
Great doc, would you be willing to create a github repo with the setup you have there so I can play with it a bit?

[2022-06-28 02:27] cbbfcd commented on #203
ok, i will create a github repo.

[2022-06-28 14:26] cbbfcd commented on #203
https://github.com/cbbfcd/million-wouter-compat-demo

@aidenybai here~

[2022-06-28 16:24] aidenybai commented on #203
Hmm... okay, after some investigation this seems to be an issue with contexts. I'll update you when I get contexts working 👍

[2022-06-29 01:52] cbbfcd commented on #203
i found this pr, I should dig deeper into the problem and now i probably understand the reason

[2022-06-29 05:54] #209 closed

[2022-06-29 05:58] aidenybai commented on #177
Closing due to inactivity

[2022-06-29 05:58] #177 closed

[2022-06-30 08:48] wulinsheng123 commented on #203
has this problem been fixed ?

[2022-07-01 01:02] cbbfcd opened #213 "feat: feature list"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

if possible, can provide a `featurelist` so that everyone can participate and build `million`.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A

[2022-07-01 04:06] aidenybai commented on #213
Could you elaborate on more of what this would look like?

[2022-07-01 04:15] SukkaW commented on #213
I am also a bit confused about the wording here.

Is it about `good first issue`?

[2022-07-01 04:46] aidenybai opened #214 "feat: stricter eslint config"
**Is your feature request related to a problem? Please describe.**
Right now ESlint isn't super helpful in catching bugs beforehand. It would be better to have a more proactive / stricter config.

**Describe the solution you'd like**
Example could be `@strv/*`'s eslint configs: https://www.npmjs.com/package/@strv/eslint-config-base

Please propose configs in this thread before PR

[2022-07-01 04:47] aidenybai opened #215 "feat: improve `pnpm welcome`"
**Is your feature request related to a problem? Please describe.**
Currently, the `pnpm welcome` command is lackluster -- it just shows you how to install packages ([ref](https://github.com/aidenybai/million/blob/main/scripts/welcome.mjs)).

**Describe the solution you'd like**
It would be nice to have more setup steps (how to use dev environment, filesystem walkthrough, script walkthrough, etc.).

[2022-07-01 04:48] #208 closed

[2022-07-01 04:49] aidenybai commented on #208
Closing until this becomes an issue

[2022-07-02 09:35] wulinsheng123 commented on #215
hello how to contribute ?

[2022-07-02 17:23] aidenybai commented on #215
Here are the general contribution guidelines: https://github.com/aidenybai/million/blob/main/.github/CONTRIBUTING.md. For this issue, I recommend you look at this file when making changes: https://github.com/aidenybai/million/blob/main/scripts/welcome.mjs

[2022-07-02 23:50] wulinsheng123 commented on #215
Ok thank you let me check

[2022-07-03 05:42] cbbfcd commented on #213
It is more like a to-do list, listing some future features of million, so that more people can participate and choose what they are good at or interested in.

like this:

- [ ] monorepo support
- [ ] Preact compat?
- [ ] chinese doc(i18n)
...

[2022-07-03 07:33] wulinsheng123 commented on #215
i got empty website when i ran "pnpm dev".
and could you tell me more about that(how to use dev environment, filesystem walkthrough, script walkthrough, etc.)

[2022-07-03 21:55] aidenybai commented on #213
Good idea! I'll look into options GitHub provides to add something like this.

[2022-07-03 22:00] aidenybai commented on #215
pnpm dev will run a vite server a root (you'll need to open localhost:3000/dev/index.html to access.

More info on scripts would be useful! Adding a new issue for that.

[2022-07-04 02:11] wulinsheng123 commented on #215
ok , I will try on lete.
and then if you have any detial idea, you can contact me anytime

[2022-07-04 06:50] aidenybai opened #216 "feat: script walkthroughs in `CONTRIBUTING.md`"
**Is your feature request related to a problem? Please describe.**

The current [`CONTRIBUTING.md`](https://github.com/aidenybai/million/blob/main/.github/CONTRIBUTING.md) is lackluster, it doesn't include information on how to setup the dev server

See: https://github.com/aidenybai/million/issues/215#issuecomment-1173029603

[2022-07-04 07:42] aidenybai commented on #215
Implemented in [42977d4](https://github.com/aidenybai/million/commit/42977d43b0c34cc031965f12c8ab0377e846a890)

[2022-07-04 07:52] #215 closed

[2022-07-04 07:52] aidenybai commented on #216
Implemneted in [c9f22f6](https://github.com/aidenybai/million/commit/c9f22f696cafb61060669b7533a7869b5e97f2bf)

[2022-07-04 07:52] #216 closed

[2022-07-04 07:55] aidenybai commented on #213
I've made a Roadmap project in GitHub. Is this what you're imagining?

[2022-07-05 06:10] cbbfcd commented on #213
🎉～

[2022-07-05 16:16] #213 closed

[2022-07-08 04:24] aidenybai commented on #203
Happy to say we're one step closer to fixing this issue: https://github.com/aidenybai/million/commit/1bcedb5549b5a5c9194920ef42529ce4a7de4a57

[2022-07-10 21:04] #214 closed

[2022-07-12 21:36] aidenybai commented on #202
Implemented in [3182fa8](https://github.com/aidenybai/million/commit/3182fa8f87ccffc9c50f213ac5cb70d8c93713fd)

[2022-07-12 21:36] #202 closed

[2022-07-24 11:27] suhailkakar opened #221 "Forking the documentations :)"
Hey 👋

Not an issue but I really liked the documentations website for millionjs and wanted to ask if I can fork the repo and use a similar for my project :)

Thank you!

[2022-07-24 11:31] SukkaW commented on #221
FYI, Million.js' documentation is powered by [nextra](https://github.com/shuding/nextra)

[2022-07-24 21:08] aidenybai commented on #221
@suhailkakar feel free to :)

[2022-07-24 21:08] #221 closed

[2022-07-29 09:05] cbbfcd commented on #203
has been fixed?

[2022-07-29 09:05] aidenybai commented on #203
Not yet. Have been somewhat busy, currently still investigating

[2022-07-29 10:24] subhasishdas159 commented on #203
Similar problem encountered with hook-router

[2022-07-29 12:27] cbbfcd commented on #203
if anythin i can do, pls let me know.

[2022-07-29 19:04] aidenybai commented on #203
Currently, I'm trying to figure out why Million cannot handle ref when passed into a context:

[code]

[2022-07-30 16:21] aidenybai opened #222 "feat: Error boundaries"
https://github.com/aidenybai/million-react/issues/6

[2022-07-30 16:37] SukkaW commented on #222
FYI, preact implements a `useErrorBoundary` to catch error during rendering: https://preactjs.com/guide/v10/hooks/#useerrorboundary

https://github.com/preactjs/preact/blob/0406941612c12f1056e9f1f00c62030c591dd085/hooks/src/index.js#L319

However, preact still implements it based on `componentDidCatch`.

It is possible to implement a similar solution, but it won't be a drop-in replacement for reac

[2022-07-30 16:45] aidenybai opened #223 "bug: router doesn't support non text types"
**Describe the bug**
Router doesn't support non-text hrefs, and attempt to fetch and replace.

**To Reproduce**

[code]

[2022-07-31 03:19] aidenybai commented on #37
Hey @anddddrew, just pinging to see if there are any updates or if you need any help with this task. If you're not available, no worries, I can take over this issue

[2022-07-31 04:44] ryansolid commented on #37
If anyone has any questions about the rules or details on what works well in the benchmark I'm open to answering them. I'm very familiar with this benchmark.

[2022-07-31 11:15] staszewski commented on #223
Hey, I wanted to help. I tried to reproduce, but the example from "To Reproduce" seems to work. There is a text in href. I tried the code on top of template from https://github.com/aidenybai/million-react Can you share some context?

[2022-07-31 11:26] steveruizok opened #227 "`useSyncExternalStore` is broken"
https://github.com/aidenybai/million/blob/7547fa81ccb0e1a66d5ea4bbba35788190e399bf/packages/react/hooks.ts#L235-L242

I don't think this matches the behavior of React's own `useSyncExternalStore`. I believe it should subscribe only the state setter, rather than the [state, stateSetter] returned from useState. Also, it may re-subscribe on every update.

[2022-07-31 19:01] jasonappah commented on #37
Spoke to @anddddrew yesterday - he wasn't able to get around to this, but I started working on it yesterday (see [here](https://github.com/jasonappah/js-framework-benchmark/tree/feat/million)) and plan on finishing tonight. Will post here/dm if I have any questions!

[2022-08-01 06:45] aidenybai commented on #223
Hey @staszewski, thanks for the interest. If you look here (https://github.com/aidenybai/million/blob/35d51e1fd925381bead132107f41d485d6ad051e/packages/router/router.ts#L60) any data format, when fetched, is accepted, even if it isn't text.

[2022-08-01 23:56] aidenybai opened #232 "bug: benchmarks become skewed with vnode adapters"
After reading through https://marvinh.dev/blog/benchmarks/, I have found that Million's benchmarks are skewing in Million's favor (view the Accidental overhead section.

Million currently has adaptors for each VDOM library in order to convert Million vnodes into other frameworks. However, one major issue is that the benchmark measures the time it takes to convert the nodes into respective framewor

[2022-08-02 05:08] aidenybai commented on #37
Update: we're close! Expect a PR from @jasonappah sometime in the next 24h!

[2022-08-02 12:11] jasonappah commented on #37
Just created https://github.com/krausest/js-framework-benchmark/pull/1074 :)

[2022-08-02 17:30] #223 closed

[2022-08-02 19:19] QuiiBz commented on #222
I did a very basic PoC that adds `componentDidCatch` to class components from errors caught on `render`.

I'm not sure if adding a `useErrorBoundary` hook makes sense for Million?

[2022-08-02 23:44] ryanjmack opened #235 "bug: Documentation search bar doesn't work"
**Describe the bug**
Trying to search something in the million documentation causes an endless spinner

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://millionjs.org/'
2. Click on the search bar
3. Type in the search bar, notice the endless spinner
4. console has this error: "Uncaught (in promise) SyntaxError: Unexpected token < in JSON at position 0"
5. Hit enter key, still ha

[2022-08-03 05:49] noobyogi0010 commented on #235
Hey, @ryanjmack
I would like to work on this issue if no one else is working on it.
Thanks!

[2022-08-03 08:58] EndyKaufman opened #237 "bug: wrong word in landing"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
![image](https://user-images.githubusercontent.com/4127109/182568210-c4f40464-56e8-48fd-89c6-f025e12

[2022-08-03 10:03] QuiiBz commented on #237
Thanks for the bug report! I've created a PR to resolve it: https://github.com/aidenybai/million/pull/239

[2022-08-03 11:11] BumpyBill opened #241 "bug: Invalid Redirect"
**Describe the bug**
The "Edit this page on GitHub" link redirects you to the old, archived repository.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any subpage under `https://millionjs.org/docs`
2. Click on "Edit this page on GitHub"
4. See error

**Expected behavior**
Taken to the new link.

**Device:**
 - OS: Windows
 - Browser: Microsoft Edge
 - Version: 103

[2022-08-03 11:16] BumpyBill opened #242 "bug: GitHub Discrepancies"
**Describe the bug**
The GitHub issue template's "Device" section contains inconsistencies. The "OS" field contains a colon but the others do not.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new issue or go to `.github/ISSUE_TEMPLATE/bug_report.md`
2. See the inconsistencies

**Expected behavior**
Consistent formatting.

**Screenshots**
![image](https://user-images.githubusercon

[2022-08-03 11:17] BumpyBill commented on #242
By looking into the template more, the "Device" heading as a whole does not fit the correct formatting. 😂

[2022-08-03 18:11] #237 closed

[2022-08-03 18:55] #241 closed

[2022-08-04 05:53] #242 closed

[2022-08-04 11:51] AugustoSavi opened #248 "bug: Just a wrong h1 tag on the site"
**Describe the bug**
An unnecessary h1 tag appearing on the site homepage

**To Reproduce**
1. Go to https://millionjs.org/

**Expected behavior**
I believe this h1 tag shouldn't exist

**Screenshots**
![image](https://user-images.githubusercontent.com/32443720/182839744-625aefdf-aff7-4673-a5cf-ee5bc1669419.png)
![image](https://user-images.githubusercontent.com/32443720/182839756-090e5674-5947-47

[2022-08-04 16:38] PringlePot commented on #248
Oops, this was probably caused by my pull request #246, let me see If I can fix the issue

[2022-08-04 16:47] PringlePot commented on #248
#249 should fix this issue :)

[2022-08-04 18:34] PringlePot commented on #248
Should be fixed

[2022-08-04 18:37] aidenybai commented on #248
great work

[2022-08-04 18:37] #248 closed

[2022-08-06 19:43] ccorcos opened #253 "Where's the compiler?"
I'm trying to understand how this library works and I'm seeing "compiler" mentioned all over the place. However, when I look through the code, I don't see a compiler anywhere.

From your paper:  https://arxiv.org/pdf/2202.08409v1.pdf

I'm seeing the diff code here, but that looks like its happening at runtime? 🤷‍♂️   https://github.com/aidenybai/million/blob/392b07a86ceb87e5aa4181b57bcbb705f34b27b

[2022-08-07 04:53] SukkaW commented on #253
FYI, the code of the compiler located here: https://github.com/aidenybai/million/tree/main/packages/vite-plugin-million

[2022-08-07 06:54] aidenybai commented on #253
Hi @ccorcos, thanks for your interest in Million and happy to answer your questions.

Million is a Virtual DOM, there is a runtime component for diffing, alongside a compiler.

The compilation happens with the vite plugin, per @SukkaW's comment.

I assume you're referring to the [Tweet](https://twitter.com/aidenybai/status/1553280656213360640). The test made in the benchmark was measuring the time

[2022-08-07 18:49] ccorcos commented on #253
Ah ok. Thanks for the reply.

So regarding the compiler, what exactly is the optimization here? It looks like it's unwrapping components into one large single component? Is that what's going on? I'm also curious how this handles hooks in subcomponents.

https://github.com/aidenybai/million/blob/392b07a86ceb87e5aa4181b57bcbb705f34b27b5/packages/vite-plugin-million/compile.ts#L75

Ah, so that tweet

[2022-08-08 00:44] aidenybai commented on #253
The current optimization renders hyperscript calls to flattened vnode objects, similar to how inferno does it. More optimizations to come.

[2022-08-10 04:39] aidenybai commented on #227
hey @steveruizok, sorry for the late reply. I'll be taking on this issue, would love your feedback :)

[2022-08-10 04:43] aidenybai commented on #235
Hey @noobyogi0010, any update on this? Do you need any help with this issue so far?

[2022-08-10 17:17] noobyogi0010 commented on #235
Hey @aidenybai
I am still working on this issue.
Sorry, I didn't get much time to focus on it completely. Will try to wrap it up by end of this week.
Thanks!

[2022-08-10 19:07] #222 closed

[2022-08-11 05:33] aidenybai commented on #235
No worries, take your time. If you need any help, feel free to comment any questions here or in the Discord :)

[2022-08-11 07:43] noobyogi0010 commented on #235
@aidenybai I am not able to reproduce this issue. Neither on my local system nor on the million's documentation.

[2022-08-11 08:38] #227 closed

[2022-08-11 19:20] aidenybai commented on #235
@ryanjmack, could you test this issue again? Possibly a recent commit to docs fixed this issue

[2022-08-11 21:13] ryanjmack commented on #235
@aidenybai the issue seems to be resolved, so I'm closing it!

[2022-08-11 21:13] #235 closed

[2022-08-12 02:35] BraydenTW opened #256 "bug: CarbonAd goes over the mobile nav menu"
**Describe the bug**
Hey on mobile, when i open the navbar dropdown near the bottom with the carbonAd, the carbonAd’s z-index makes it go over it.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the bottom of the landing page on mobile.
2. Click on the navbar
3. See error.

**Expected behavior**
The nav dropdown should cover the CarbonAd like normal.

**Screenshots**

![35FA9F70-EB58-4

[2022-08-12 02:35] BraydenTW commented on #256
I’d be happy to fix this quick one.

[2022-08-12 19:08] #256 closed

[2022-08-14 08:25] DaniAkash opened #259 "bug: unable to use million/jsx-runtime with next.js"
**Describe the bug**
I'm trying to use million on Next.js using [babel automatic runtime](https://millionjs.org/docs/tooling/using-jsx#automatic-runtime-recommended) but i'm not able to get the next dev server to start.

Getting the following error:
<img width="784" alt="Screenshot 2022-08-14 at 1 54 03 PM" src="https://user-images.githubusercontent.com/6841445/184528711-263a5532-c169-4e1f-bc53-91

[2022-08-15 01:54] cbbfcd commented on #203
ok, work is less busy now 😂, I'll try to find out why

[2022-08-15 07:55] aidenybai commented on #259
Hi@DaniAkash, Next.js is currently not compatible with Million.js. We are planning to work on a next plugin to allow for this in the future.

[2022-08-15 12:17] DaniAkash commented on #259
That would be awesome! If you can share more details... I'm also happy to contribute 👍

[2022-08-15 23:26] aidenybai commented on #259
Sure! We're currently working towards some compatability with routers currently in order to support Next.js router in #203. Next steps are hydration, prerendering, etc. Feel free to join our Discord to discuss further

[2022-08-15 23:27] aidenybai opened #260 "bug: streaming support"
https://github.com/aidenybai/million-react/issues/9

[2022-08-17 02:19] yakubori opened #262 "feat: Add Recoil integration"
I had tried to run an existing react/recoil app using Million, but it failed with one of either two errors:

1. `Uncaught Error: This component must be used inside a <RecoilRoot> component.`

The code for which was the following:

[code]

-- OR --

2. `Uncaught TypeError: Cannot read properties of null (reading 'useContext')`

The latter occurred with my Vite config like so:

[code]

While the for

[2022-08-17 02:45] SukkaW commented on #262
I have seen this kind of error before (on a preact project). It seems that it has something to do with package resolution (react is actually being used when the million should be imported). Probably caused by failing to alias the package.

[2022-08-17 02:51] yakubori commented on #262
@SukkaW that's interesting to see you say that. I was thinking it might be something along those lines when I was looking at the Million compiler code a little while ago. I noticed something about a source option, but it defaulted to 'million' so I thought it would be ok to run it as it was. I will look more into it this evening. I wonder if I need to update some more code or configs as well...

[2022-08-18 06:23] QuiiBz commented on #203
Reopening this issue since #258 doesn't completely fix the bugs - but fixes some of them.

[2022-08-18 16:01] BraydenTW opened #263 "bug: Million stops <input> onChange from working correctly"
**Describe the bug**
So I've been developing with @million/react for a bit now, and when I use this code for example in my `App.jsx` file.

[code]

It only fires the code when I go out of focus of the input, or when I click enter.

I even tried using the plain [Million-react](https://github.com/aidenybai/million-react) template, and it still doesn't work.

**To Reproduce**
Steps to reproduce the b

[2022-08-18 16:57] BraydenTW commented on #263
Whoops - nevermind! I found on the Million docs that I should use the [`onInput` feature](https://millionjs.org/docs/api/learn-virtual-dom#building-a-search-input) instead.

[2022-08-18 16:57] #263 closed

[2022-08-19 01:08] aidenybai opened #264 "feat: Next.js support"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-08-19 06:54] SukkaW commented on #264
Some reference information and also a very naive TODO:

- [ ] Compatible SSR method
  - [ ] `renderToString`
  - [ ] `renderToPipableStream`
- [ ] Fast refresh
- [ ] Next.js plugin
  - See: next-plugin-preact: https://github.com/preactjs/next-plugin-preact

[2022-08-19 07:01] QuiiBz commented on #264
Also, I think we should support [`renderToReadableStream`](https://reactjs.org/docs/react-dom-server.html#rendertoreadablestream) - it's the equivalent of [`renderToPipeableStream`](https://reactjs.org/docs/react-dom-server.html#rendertopipeablestream) but for the browser, Deno and edge environments (like Deno Deploy, Cloudflare Workers, Lagon...)

[2022-08-19 07:07] SukkaW commented on #264
Nice catch!

And actually, you are also the collaborator of the repo. Feel free to update my existing TODO with your ideas!

[2022-08-21 15:25] frederikhors opened #265 "feat: Benchmarks for Million vs Svelte?"
Hi, congratulations on this project.

I am using Svelte because I find the syntax of the code much more convenient.

Are there any benchmarks between Million and Svelte?

[2022-08-21 19:58] aidenybai commented on #265
Thanks! We have an open issue #37 addressing this issue already. Feel free to bring concerns over there

[2022-08-21 19:58] #265 closed

[2022-08-21 20:14] frederikhors commented on #37
https://github.com/krausest/js-framework-benchmark/pull/1074 is still a draft, right?

[2022-08-21 21:24] aidenybai commented on #37
Yes, still a draft

[2022-08-23 15:00] untlsn opened #269 "bug: Strange memo behavior"
Component with memo is wrapped in empty function. It's not compatible with React.memo

[code]

[code]

[2022-08-23 16:30] SukkaW commented on #269
https://github.com/aidenybai/million/blob/30d4b9df4bece6455f697261b8cebe13a4585e97/packages/react/react.ts#L51

It does seem like an unintended behavior!

[2022-08-23 16:57] aidenybai commented on #269
Thanks for taking on this issue @SukkaW

[2022-08-24 12:47] #269 closed

[2022-08-25 17:45] aidenybai commented on #37
If keyed isn't working it may be an implementation issue in million vdom I suspect. I think it's okay to go with non-keyed for now so we at least have some initial benchmarks @jasonappah.

[2022-08-26 08:28] yatesco opened #272 "bug: instructions on https://millionjs.org/docs/api/extra/morph doesn't work"
**Describe the bug**
The example from https://millionjs.org/docs/api/extra/morph doesn't work because it cannot find the `morph` function.

**To Reproduce**
1. create a html page
2. copy and paste the `script` example from https://millionjs.org/docs/installation
3. replace the contents with https://millionjs.org/docs/api/extra/morph *taking care to use the full URL for the import*
4. run in Chrome

[2022-08-30 04:28] aidenybai commented on #272
Hey! Sorry for the late response. On this issue now

[2022-09-05 09:52] aidenybai commented on #272
Fixed in #274

[2022-09-06 21:15] #272 closed

[2022-09-07 07:41] yatesco commented on #272
Thanks @aidenybai

[2022-09-13 16:19] phiberber commented on #264
I think renderToString is already implemented in the React module:

https://github.com/aidenybai/million/blob/21644e4871fcd67d818f7f4007f74c8713e34bdf/packages/react/exports/server.ts#L3

renderToPipeableStream should not be that hard to make:

https://github.com/aidenybai/million/blob/dec80d0af168851541673a0317653422800baea7/packages/utils/index.ts#L103

In that point of the flow, we already know

[2022-09-22 16:36] seanhess opened #276 "bug: VNode from HTML string fails on unclosed input tags"
**Describe the bug**
When I generate a VNode from a string using `fromStringToDomNode` and `fromDomNodeToVNode`, if it contains an `<input>` tag, the library fails with:

[code]

According to the HTML spec, input tags are represented like this:
[code]

It appears the the parser or the patch function thinks that the input tag should be closed. If I manually manipulate the string to be the following

[2022-09-23 17:08] aidenybai commented on #276
Looking into this 👍

[2022-09-23 17:24] aidenybai commented on #276
PR in  #277

[2022-09-23 18:59] #276 closed

[2022-09-28 14:32] seanhess commented on #276
Thanks so much! I haven't been in JS-land in a while, have these changes been published? How can I pick them up in my project?

[2022-09-30 17:06] aidenybai commented on #276
@seanhess sorry about the wait! let me publish a new version for you :)

[2022-10-30 20:06] gustavopch opened #283 "bug: modern ECMAScript syntax not supported by `recast`"
Recast [uses Esprima by default](https://github.com/benjamn/recast#using-a-different-parser) as its parser. As you can see in https://npm.im/esprima, its last version was published 4 years ago. It doesn't support modern ECMAScript syntax like optional chaining and nullish coalescing operators.

Because of that, I was getting the error `Error during compilation! Set skipOptimize to true to fix this

[2022-10-31 08:13] aidenybai commented on #283
Interesting find! Would you like to PR this fix? If not, no worries :)

[2022-10-31 11:40] gustavopch commented on #283
Unfortunately not, very busy here with work already.

[2022-11-05 05:13] #283 closed

[2022-11-10 18:24] aaron5670 commented on #264
This would be a cool feature! 🔥

[2022-11-10 19:34] phiberber commented on #264
With the release of Next 13. I doubt this is ever going to happen anytime soon. Turbopack does not plan on having a 1:1 Webpack API and there is no documentation on how to make a Turbopack plugin whatsoever.

It's good to notice that the Streaming support I've suggested has a big problem that's a child should be able to change its parent information. That can be through React Context or through pr

[2022-11-10 21:46] aidenybai commented on #264
@phiberber this is a good take. I've reconsidering how viable a compat library is--it's really cool and all and it drives usage--but you're totally right that it's really hard to keep up with new frameworks.

Million's a bit at a crossroads right now: either the project continues with the initial thesis of "compile the virtual DOM" and "support React's ecosystem," or it shifts towards something el

[2022-11-10 22:06] phiberber commented on #264
@aidenybai, Please no to yet another JS Framework. I've worked with multiple frameworks already, React, Preact, Svelte, Solid, Vue, Petite-vue, even considered using Inferno for a production project... Also worked with multiple SSR Frameworks; Gatsby, Next, Nuxt, Blitz, Sveltekit, Astro, Solid-Start, Vite-plugin-ssr, etc.

I would say that the best thing currently would be a compatibility layer to

[2022-11-11 03:26] aidenybai commented on #264
Hi @phiberber, thanks for the very insightful feedback! I'll definitely take note of this... hopefully once college applications are done for me we can get something going here! In the meantime, would you be interested in joining [our Discord?](https://discord.gg/X9yFbcV2rF) where we post faster updates.

[2022-11-20 10:20] atellmer opened #285 "bug: React.memo works incorrectly"
**Describe the bug**
Hey. I'm trying to test the compatibility layer with react. I came across a bug when using the memo function. This function is not properly passing props. I think the point is that memo function is implemented by passing props through `Object.values(props) `which produces an array instead of an object. As a result, the memoizable component receives an array of arguments as inp